@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primaryColor: hsl(14, 90%, 53%);
  --primaryColorLight: hsl(14, 96%, 91%);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.6rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.destination .secContainer .redText {
  color: var(--primaryColor);
  font-size: var(--smallFontSize);
  font-weight: 500;
}

.destination .secContainer h3 {
  font-size: var(--h1FontSize);
}

.destination .secContainer .searchField {
  margin: 2rem;
  gap: 1rem;
}

.destination .secContainer .searchField .inputField {
  background: var(--primaryColorLight);
  padding: 1rem;
  border-radius: var(--borderRadius);
  gap: .5rem;
}

.searchField .inputField input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
}

.searchField .inputField .icon {
  color: var(--blackColor);
}

.searchField .btn {
  gap: .5rem;
  margin: auto;
  width: 55%;
  align-items: center;
  justify-content: center;
}

.secMenu {
  display: none;
}

.destinationContainer {
  margin: 2rem;
  width: 90%;
}

.destinationContainer .singleDestination {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  width: 100%;
  height: 95%;
}

.destinationContainer .singleDestination .imgDiv {
  position: relative;
  height: 100%;
  width: 100%;
}

.destinationContainer .singleDestination .imgDiv img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all .3s ease-in-out;
}

.destinationContainer .singleDestination .imgDiv img:hover {
  scale: 1.1;
}

.descInfo {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  padding: 1rem 2rem 1rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
  color: var(--whiteColor);
}

.descInfo::before {
  content: '';
  position: absolute;
  top: 10px;
  inset: 0;
  z-index: -1;
  background: linear-gradient(to top, rgba(27, 22, 22, 0.786), transparent);
  transition: all 0.3s ease-in-out;
}


.descInfo::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.descInfo .text {
  gap: .5rem;
  color: var(--whiteColor);
}

.descInfo .text .name {
  display: block;
  padding-bottom: .3rem;
  font-weight: 500;
  font-size: var(--h2FontSize);
}

.descInfo .text p .icon {
  font-size: var(--normalFontSize);
}

.descInfo .rating {
  padding: 8px 1rem;
  border-radius: var(--borderRadius);
  background: rgba(245, 245, 245, 0.37);
  border: 1.5px solid rgba(255, 255, 255, 0.241);
  font-size: var(--h3FontSize);
  font-weight: 600;
  color: var(--whiteColor);
}

@media screen and (min-width: 520px) {
  .destination .secContainer .searchField {
    grid-template-columns: repeat(2, 1fr);
  }

  .destination .secContainer .destinationContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .searchField .btn{
    width:90%;
  }
}

@media screen and (min-width: 640px) {
  .destination .secContainer .secMenu {
    display: block;
  }

  .destination .secContainer .secMenu .flex {
    width: 50%;
    margin: 2rem auto;
    justify-content: center;
    gap: 1rem;
  }

  .destination .secContainer .secMenu .flex li {
    background: transparent;
    padding: 10px 17px;
    border-radius: var(--borderRadius);
    color: var(--blackColor);
    border: 1.5px dashed transparent;
  }

  .destination .secContainer .secMenu .flex li:hover {
    color: var(--primaryColor);
    border: 1.5px dashed var(--primaryColor);
  }

  .destination .secContainer .secMenu .flex .active {
    color: var(--primaryColor);
    border: 1.5px dashed var(--primaryColor);
  }

  .searchField .btn{
    width: 100%;
  }
}

@media screen and (min-width: 1014px) {
  .destination .secContainer .secTitle .redText {
    font-size: var(--normalFontSize);
  }

  .destination .secContainer .secTitle h3 {
    font-size: var(--h1FontSize);
  }

  .destination .secContainer .secTitle p {
    font-size: var(--h3FontSize);
  }

  .destination .secContainer .secMenu .flex {
    justify-content: center;
  }

  .destination .secContainer .searchField {
    grid-template-columns: repeat(5, 1fr);
    margin-left: 20rem;
  }

  .destination .secContainer .destinationContainer {
    grid-template-columns: repeat(3, 1fr);
  }

  .searchField .btn{
    width: 100%;
  }
}

@media screen and (min-width: 1148px) {

  .destination .secContainer .secTitle h3 {
    font-size: var(--biggestFontSize);
  }

  .destination .secContainer .secTitle p {
    font-size: var(--h2FontSize);
  }

  .destination .secContainer .destinationContainer {
    grid-template-columns: repeat(4, 1fr);
    margin-left: 5rem;
  }
}

@media screen and (min-width: 1400px) {
  .destination .secContainer .destinationContainer {
    grid-template-columns: repeat(4, 1fr);
  }

  .searchField .btn{
    width: 100%;
  }

}
